ul{
  padding: 0;
}
.full-width{
  width: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 5rem;
  height: 100vh;
}

.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-wrap:wrap;
}
.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  text-decoration: none;
  color: #ffffff;
  margin: .5rem;
}
.header-links a:hover{
  color: #ff8000;
}
.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{
color: #ff8000;  
}

@media only screen and (max-width: 500px) {
  .header{
    justify-content: space-evenly;
  }
  .font-5{
    font-size: 2.5rem;
  }
}